{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock%}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    <h1>Welcome to  PERFECT PITCH</h1>
        <h1 class="text-center">Categories</h1>
        <div class="row categories">
            <div class="category col-xs-12 col-sm-12 col-md-3 col-lg-3">
<a href="{{url_for('main.categories',category='pick-up-lines')}}">Pick Up Lines</a>
            </div>
            <div class="category col-xs-12 col-sm-12 col-md-3 col-lg-3">
<a href="{{url_for('main.categories',category='funny-pitches')}}">Funny</a>
            </div>
        </div>
            #<div class="category  col-sm-12 col-md-3 col-lg-3">
<a href="{{url_for('main.categories',category='random-pitch')}}">Random</a>
            </div>
<div class="category col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <a href="{{url_for('main.categories',category='all')}}">All</a>
</div>
        </div>
    </div>
{% endblock %}